mixin sidebar()
	+b.s-prod-head-sidebar 
		ul
			li
				+icon('check-mark')
				
				span Доставка по Москве:
				| сегодня-завтра
			
			li
				+icon('check-mark')
				
				span Доставка по России
				| от 2 до 5 дней
			
			li
				+icon('check-mark')
				
				span Гарантия
				| 12 месяцев
			
			li
				+icon('check-mark')
				
				span Изготовление на заказ:
				| по вашим размерам <br>от 3 до 5 дней
mixin s-prod-head()
	-
		let src= 'img/@2x/prod-1.jpg'
		let title = "Верстак слесарный ВМ_1214"
	mixin img(src)
		img.res-i(src="#" data-lazy= src, alt="")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
								- for (var x = 0; x < 5; x++)
									+e.slide--lg
										a(href= src data-fancybox="prod-gal")
											+img()
						+e.slider--sm.--sm-js
							- for (var x = 0; x < 5; x++)
								+e.slide
									+e.img-wrap
										+img()
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ШхВхГ): 
										td 1637.6х1383х620 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 41 700 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="5") 36] верстаков
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 1&nbsp;шт.
						li Полка с&nbsp;регулировкой по&nbsp;высоте в&nbsp;трех положениях&nbsp;&mdash; 1&nbsp;шт.
						li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 1&nbsp;шт.
						li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head

mixin s-prod-head-1211()
	-
		let src= 'img/@2x/1211-1.jpg'
		let title = "Верстак слесарный ВМ_1211"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Верстак слесарный ВМ_1211")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1211-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ШхВхГ): 
										td 1383х810х620 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first
								table
									tr
										td 24 400 р*
										td Шариковые направляющие 
									tr
										td 27 100 р*
										td Направляющие Blum 
										

							 
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="6") 36] верстаков
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 1&nbsp;шт.
						li Полка с&nbsp;регулировкой по&nbsp;высоте в&nbsp;трех положениях&nbsp;&mdash; 1&nbsp;шт.
						li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 1&nbsp;шт.
						li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
						li *Стоимость указана без&nbsp;учета стоимости экрана и&nbsp;навесных элементов
						li <b>Экран для верстака</b> ВМ_1211 (ШхВ): 1383х800 мм. — <b> 6.125 руб. </b>
	// end s-prod-head-1211

mixin s-prod-head-1212()
	-
		let src= 'img/@2x/1212-1.jpg'
		let title = "Верстак слесарный ВМ_1212"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Верстак слесарный ВМ_1212")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1212-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1212-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1212-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ШхВхГ): 
										td 1185х810х620 мм.
									tr
										td Цвет:
										td на выбор по системе RAL 
							.mobile-down.order-lg-first
								table
									tr
										td 39 300 р*
										td Шариковые направляющие 
									tr
										td 50 100 р*
										td Направляющие Blum 
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="3") 36] верстаков
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Полка с&nbsp;регулировкой по&nbsp;высоте в&nbsp;трех положениях&nbsp;&mdash; 1&nbsp;шт.
						li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 1&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
						li *Стоимость указана без&nbsp;учета стоимости экрана и&nbsp;навесных элементов
						li <b>Экран для верстака</b> ВМ_1212 (ШхВ): 1185х800 мм. — <b> 5.600 руб. </b>
	// end s-prod-head-1212


mixin s-prod-head-1213()
	-
		let src= 'img/@2x/1213-1.jpg'
		let title = "Верстак слесарный ВМ_1213"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Верстак слесарный ВМ_1213")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1213-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1213-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1213-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ШхВхГ): 
										td 1800х810х620 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first  
								table
									tr
										td 52 800 р*
										td Шариковые направляющие 
									tr
										td 69 000 р*
										td Направляющие Blum 
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="1") 36] верстаков
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 6&nbsp;шт.
						//-li Полка с&nbsp;регулировкой по&nbsp;высоте в&nbsp;трех положениях&nbsp;&mdash; 1&nbsp;шт.
						li Полка без&nbsp;регулировки по&nbsp;высоте&nbsp;&mdash; 2&nbsp;шт.
						//-li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 1&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
						li *Стоимость указана без&nbsp;учета стоимости экрана и&nbsp;навесных элементов
						li <b>Экран для верстака</b> ВМ_1213 (ШхВ): 1800х800 мм. — <b> 7.125 руб. </b>
	// end s-prod-head-1213

mixin s-prod-head-1214()
	-
		let src= 'img/@2x/1214-1.jpg'
		let title = "Верстак слесарный ВМ_1214"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Верстак слесарный ВМ_1214")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1214-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1214-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1214-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ШхВхГ): 
										td 1500х810х620 мм.
									tr
										td Цвет:
										td на выбор по системе RAL 
							.mobile-down.order-lg-first  
								table
									tr
										td 47 900 р*
										td Шариковые направляющие 
									tr
										td 61 400 р*
										td Направляющие Blum 
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="14") 36] верстаков
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 5&nbsp;шт.
						li Полка с&nbsp;регулировкой по&nbsp;высоте в&nbsp;трех положениях&nbsp;&mdash; 1&nbsp;шт.
						li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
						li *Стоимость указана без&nbsp;учета стоимости экрана и&nbsp;навесных элементов
						li <b>Экран для верстака</b> ВМ_1214 (ШхВ): 1500х800 мм. — <b> 6.700 руб. </b>
	// end s-prod-head-1214

mixin s-prod-head-1215()
	-
		let src= 'img/@2x/1215-1.jpg'
		let title = "Верстак слесарный ВМ_1215"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Верстак слесарный ВМ_1215")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1215-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1215-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1215-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ШхВхГ): 
										td 1800х810х620 мм.
									tr
										td Цвет:
										td на выбор по системе RAL 
							.mobile-down.order-lg-first  
								table
									tr
										td 61 900 р*
										td Шариковые направляющие 
									tr
										td 83 500 р*
										td Направляющие Blum 
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="5") 36] верстаков
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 8&nbsp;шт.
						li Полка без&nbsp;регулировки по&nbsp;высоте&nbsp;&mdash; 2&nbsp;шт.
						//li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 1&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
						li *Стоимость указана без&nbsp;учета стоимости экрана и&nbsp;навесных элементов
						li <b>Экран для верстака</b> ВМ_1215 (ШхВ): 1800х800 мм. — <b> 7.125 руб. </b>
	// end s-prod-head-1215

mixin s-prod-head-1216()
	-
		let src= 'img/@2x/1216-1.jpg'
		let title = "Верстак слесарный ВМ_1216"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Верстак слесарный ВМ_1216")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1216-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1216-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1216-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ШхВхГ): 
										td 1800х810х620 мм.
									tr
										td Цвет:
										td на выбор по системе RAL 
							.mobile-down.order-lg-first  
								table
									tr
										td 42 100 р*
										td Шариковые направляющие 
									tr
										td 47 500 р*
										td Направляющие Blum 
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="4") 36] верстаков
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 2&nbsp;шт.
						li Полка без&nbsp;регулировки по&nbsp;высоте&nbsp;&mdash; 2&nbsp;шт.
						li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
						li *Стоимость указана без&nbsp;учета стоимости экрана и&nbsp;навесных элементов
						li <b>Экран для верстака</b> ВМ_1216 (ШхВ): 1800х800 мм. — <b> 7.125 руб. </b>
	// end s-prod-head-1216

mixin s-prod-head-1217()
	-
		let src= 'img/@2x/1217-1.jpg'
		let title = "Верстак слесарный ВМ_1217"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Верстак слесарный ВМ_1217")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1217-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1217-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1217-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ШхВхГ): 
										td 1800х810х620 мм.
									tr
										td Цвет:
										td на выбор по системе RAL 
							.mobile-down.order-lg-first  
								table
									tr
										td 56 400 р*
										td Шариковые направляющие 
									tr
										td 72 600 р*
										td Направляющие Blum 
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="11") 36] верстаков
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 6&nbsp;шт.
						li Полка без&nbsp;регулировки по&nbsp;высоте&nbsp;&mdash; 2&nbsp;шт.
						li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 1&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
						li *Стоимость указана без&nbsp;учета стоимости экрана и&nbsp;навесных элементов
						li <b>Экран для верстака</b> ВМ_1217 (ШхВ): 1800х800 мм. — <b> 7.125 руб. </b>
	// end s-prod-head-1217




mixin s-prod-head-13()
	-
		let src= 'img/@2x/stellaj-1.jpg'
		let title = "Стойка вертикальная/ кронштейн"
	mixin img(src)
		img.res-i(src="#" data-lazy= src, alt="Стеллаж металлический")
	// start s-prod-head
	+b.s-prod-head.s-prod-racks&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-8
					.row
						.col-md-6
							+b.s-prod-head-images
								+e.inner
									+e.slider--lg.--lg-js
										
											+e.slide--lg
												a(href='img/@2x/stellaj-1x.jpg' src data-fancybox="prod-gal")
													+img('img/@2x/stellaj-1.jpg')
											//-+e.slide--lg
												a(href='img/@2x/stellaj-1x.jpg' src data-fancybox="prod-gal")
													+img('img/@2x/stellaj-1.jpg')
								+e.slider--sm.--sm-js
									
										+e.slide
											+e.img-wrap
												+img('img/@2x/stellaj-1.jpg')
										//-+e.slide
											+e.img-wrap
												+img('img/@2x/stellaj-1.jpg')
						.col-md-6
							+e.content
								.h1.d-none.d-lg-block= title
								+e.descr 
									.mobile-up
										table
											tr
												td Размеры <br>(ШхВхГ):
												td 2480х130х50 мм. / <br>511.56 мм.
											tr
												td Цвет:
												td на выбор по системе RAL
									.mobile-down.order-lg-first #[span.stoika-price 5 075] руб. / #[span.kronshtain-price 870] руб.
									+e.equipment
										h3 Комплектация
										ul
											li Стойка вертикальная — 1 шт.
											li Кронштейн металлический — 1 шт.


					+b.s-prod-head-calculate.form-calc
						h3 Рассчитайте стоимость&nbsp;стеллажа
						+b.form-wrap
							.row
								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title Сколько нужно вертикальных стоек?
											+e.SELECT.input(id="vertical")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 
												 
								.col-md-6
								
									+e.input-wrap
										label
											+e.SPAN.title Сколько нужно кронштейнов?
											+e.SELECT.input(id="horizontal")
												option(value="2" ) 2шт.
												option(value="4" ) 4шт.
												option(value="6" ) 6шт.
												option(value="8" ) 8шт.
												option(value="10" ) 10шт. 
												option(value="12" ) 12шт.
												option(value="14" ) 14шт.
												option(value="16" ) 16шт.
												option(value="18" ) 18шт.
												option(value="20" ) 20шт.
												option(value="22" ) 22шт.
												option(value="24" ) 24шт.
												option(value="26" ) 26шт.
												option(value="28" ) 28шт.
												option(value="30" ) 30шт.
												option(value="32" ) 32шт. 
												option(value="34" ) 34шт. 
												option(value="36" ) 36шт. 
												option(value="38" ) 38шт. 
												option(value="40" ) 40шт. 
												option(value="42" ) 42шт. 
												option(value="44" ) 44шт. 
												option(value="46" ) 46шт. 
												option(value="48" ) 48шт. 
												option(value="50" ) 50шт. 
												option(value="52" ) 52шт. 
												option(value="54" ) 54шт. 
												option(value="56" ) 56шт. 
												option(value="58" ) 58шт. 
												option(value="60" ) 60шт. 
												option(value="62" ) 62шт. 
												option(value="64" ) 64шт. 
												option(value="66" ) 66шт. 
												option(value="68" ) 68шт. 
												option(value="70" ) 70шт. 
												option(value="72" ) 72шт. 
												option(value="74" ) 74шт. 
												option(value="76" ) 76шт. 
												option(value="78" ) 78шт. 
												option(value="80" ) 80шт. 
												option(value="82" ) 82шт. 
												option(value="84" ) 84шт. 
												option(value="86" ) 86шт. 
												option(value="88" ) 88шт. 
												option(value="90" ) 90шт. 
												option(value="92" ) 92шт. 
												option(value="94" ) 94шт. 
												option(value="96" ) 96шт. 
												option(value="98" ) 98шт. 
												option(value="100") 100шт.  
								+e.cost.col-md-6.align-self-center
									h3 Стоимость: 
										span #[strong#result 0] рублей
								.col-md-6
									+btn-accent('заказать', '#modal-by')(class="link-modal btn-calc" data-order=`Заказ стеллажа ${title}`) 

				.col-lg-4.shiping-time
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('rack')
					//- 	span В этом месяце продано<br> #[span.counter(data-start="5") 6] стеллажей
					+sidebar()
						//- +e.btn(type="button")
						//- 	+icon('cart')
						//- 	| В корзину
					//- +e.footer-text *При оформлении заказа  уточняйте&nbsp;цену по&nbsp;т: #[a(href="tel:8(3519)22-00-22") 8 (3519) 22-00-22]
	// end s-prod-head

mixin s-prod-head-14()
	-
		let src= 'img/@2x/stellaj-1.jpg'
		let title = "Стеллажная система"
	mixin img(src)
		img.res-i(src="#" data-lazy= src, alt="Стеллаж металлический")
	// start s-prod-head
	+b.s-prod-head.s-prod-racks&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-md-6.col-lg-4
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
								
									+e.slide--lg
										a(href='img/@2x/stellaj-1x.jpg' src data-fancybox="prod-gal")
											+img('img/@2x/stellaj-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/stellaj-1x.jpg' src data-fancybox="prod-gal")
											+img('img/@2x/stellaj-1.jpg')
						+e.slider--sm.--sm-js
							
								+e.slide
									+e.img-wrap
										+img('img/@2x/stellaj-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/stellaj-1.jpg')
				.col-md-6.col-lg-4
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.h6 Система стеллажного хранения предназначена для организации рабочего пространства и&nbsp;эргономичный системы хранения элементов бытового типа таких как: садовый инструмент, промышленный инструмент, коробки и&nbsp;канистры, разнообразных предметов личного использования.
							.h6 Тип системы наборная (размер системы хранения варьируется в&nbsp;зависимости от&nbsp;ваших нужд) межосевое расстояние при монтаже 816мм.
				.col-sm-6.col-lg-4.md-order-2
					+sidebar()
				.col-lg-5.col-md-6.md-order-1
					+e.unfoldedOptions
						p Комплектация
						p.strong Направляющая двухрядная вертикальная
						p 
							i Используется как вертикальная стойка при монтаже систем хранения. Два ряда пазов предназначены для установки кронштейнов,экранов и полок.
						ul
							li Основной материал: сталь
							li Вес: 3.5 кг.
							li Габариты ВхШхГ:  2500х45х40 мм
							li Тип крепления: шурупами к стене
						p #[strong Направляющая горизонтальная] 
							i Используется как горизонтальная закладная для фиксации двухрядных вертикальных направляющих.
						ul
							li Основной материал: сталь
							li Вес: 3 кг.
							li Габариты ШхГ: 54.5х32 мм.
							li (длина рассчитывается по согласованию с заказчиком)
							li Тип крепления: шурупами к стене
						+e.hiddenBlock
							p #[strong Перфорированный экран] 
								i Используется для навешивания аксессуаров хранения (А1120; А1220; А1320; А1420; А1520; А1620; А1720; А1820; А2020; А2120).
							ul
								li Основной материал: сталь
								li Вес: 5 кг.
								li Габариты (ВхШхГ), мм - 550х800х15
								li Тип крепления: навешивание зип
							p #[strong Полка] 
								i Используется для хранения габаритных элементов (коробки, канистры, колёса, садовый инструмент и т.д)
							ul
								li Основной материал: сталь
								li Вес: 3 кг.
								li Габариты (ВхШхГ), мм - 87х800х280
								li Тип крепления: навешивание зип
						+e.BUTTON.loadMore(type="button") Показать еще
				.col-lg-7.sm-order-1
					+b.s-prod-head-calculate.form-calc-system
						h3 Рассчитайте стоимость стеллажной системы
						+b.form-wrap
							.row
								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно вертикальных&nbsp;стоек?
											+e.SELECT.input(id="vertical")
												option(value="2" ) 2шт.
												option(value="4" ) 4шт.
												option(value="6" ) 6шт.
												option(value="8" ) 8шт.
												option(value="10" ) 10шт. 
												option(value="12" ) 12шт.
												option(value="14" ) 14шт.
												option(value="16" ) 16шт.
												option(value="18" ) 18шт.
												option(value="20" ) 20шт.
												option(value="22" ) 22шт.
												option(value="24" ) 24шт.
												option(value="26" ) 26шт.
												option(value="28" ) 28шт.
												option(value="30" ) 30шт.
												option(value="32" ) 32шт. 
												option(value="34" ) 34шт. 
												option(value="36" ) 36шт. 
												option(value="38" ) 38шт. 
												option(value="40" ) 40шт. 
												option(value="42" ) 42шт. 
												option(value="44" ) 44шт. 
												option(value="46" ) 46шт. 
												option(value="48" ) 48шт. 
												option(value="50" ) 50шт. 
												option(value="52" ) 52шт. 
												option(value="54" ) 54шт. 
												option(value="56" ) 56шт. 
												option(value="58" ) 58шт. 
												option(value="60" ) 60шт. 
												option(value="62" ) 62шт. 
												option(value="64" ) 64шт. 
												option(value="66" ) 66шт. 
												option(value="68" ) 68шт. 
												option(value="70" ) 70шт. 
												option(value="72" ) 72шт. 
												option(value="74" ) 74шт. 
												option(value="76" ) 76шт. 
												option(value="78" ) 78шт. 
												option(value="80" ) 80шт. 
												option(value="82" ) 82шт. 
												option(value="84" ) 84шт. 
												option(value="86" ) 86шт. 
												option(value="88" ) 88шт. 
												option(value="90" ) 90шт. 
												option(value="92" ) 92шт. 
												option(value="94" ) 94шт. 
												option(value="96" ) 96шт. 
												option(value="98" ) 98шт. 
												option(value="100") 100шт. 
								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно горизонтальных закладных (2.7м)?
											+e.SELECT.input(id="horizontal")
												option(value="2" ) 2шт.
												option(value="4" ) 4шт.
												option(value="6" ) 6шт.
												option(value="8" ) 8шт.
												option(value="10" ) 10шт. 
												option(value="12" ) 12шт.
												option(value="14" ) 14шт.
												option(value="16" ) 16шт.
												option(value="18" ) 18шт.
												option(value="20" ) 20шт.
												option(value="22" ) 22шт.
												option(value="24" ) 24шт.
												option(value="26" ) 26шт.
												option(value="28" ) 28шт.
												option(value="30" ) 30шт.
												option(value="32" ) 32шт. 
												option(value="34" ) 34шт. 
												option(value="36" ) 36шт. 
												option(value="38" ) 38шт. 
												option(value="40" ) 40шт. 
												option(value="42" ) 42шт. 
												option(value="44" ) 44шт. 
												option(value="46" ) 46шт. 
												option(value="48" ) 48шт. 
												option(value="50" ) 50шт. 
												option(value="52" ) 52шт. 
												option(value="54" ) 54шт. 
												option(value="56" ) 56шт. 
												option(value="58" ) 58шт. 
												option(value="60" ) 60шт. 
												option(value="62" ) 62шт. 
												option(value="64" ) 64шт. 
												option(value="66" ) 66шт. 
												option(value="68" ) 68шт. 
												option(value="70" ) 70шт. 
												option(value="72" ) 72шт. 
												option(value="74" ) 74шт. 
												option(value="76" ) 76шт. 
												option(value="78" ) 78шт. 
												option(value="80" ) 80шт. 
												option(value="82" ) 82шт. 
												option(value="84" ) 84шт. 
												option(value="86" ) 86шт. 
												option(value="88" ) 88шт. 
												option(value="90" ) 90шт. 
												option(value="92" ) 92шт. 
												option(value="94" ) 94шт. 
												option(value="96" ) 96шт. 
												option(value="98" ) 98шт. 
												option(value="100") 100шт. 
								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно <br>полок (800&nbsp;мм)?
											+e.SELECT.input(id="shelf800")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 
								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно экранов&nbsp;(800&nbsp;мм)?
											+e.SELECT.input(id="screen800")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 

								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно полок навесных малых (379 мм А1220)?
											+e.SELECT.input(id="a1220")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 

								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно полок навесных больших (595 мм А1320)?
											+e.SELECT.input(id="a1320")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 

								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно контейнеров для мелких предметов (А1120)?
											+e.SELECT.input(id="a1120")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 

								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно держателей отверток и ключей (А1520)?
											+e.SELECT.input(id="a1520")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 

								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно держателей молотка и плоскогубцев (А1620)?
											+e.SELECT.input(id="a1620")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 

								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно держателей полотенец (А1720)?
											+e.SELECT.input(id="a1720")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 
								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title--other Сколько нужно держателей сверел (нерж. сталь А1820)
											+e.SELECT.input(id="a1820")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 
							.row
								+e.cost.col-md-6.align-self-center
									h3 Стоимость: 
										span #[strong#result 0] рублей
								.col-md-6
									+btn-accent('заказать', '#modal-by')(class="link-modal btn-calc" data-order=`Заказ стеллажа ${title}`) 

				//- .col-lg-4.shiping-time
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('rack')
					//- 	span В этом месяце продано<br> #[span.counter(data-start="5") 6] стеллажей
					//- +sidebar()
						//- +e.btn(type="button")
						//- 	+icon('cart')
						//- 	| В корзину
					//- +e.footer-text *При оформлении заказа  уточняйте&nbsp;цену по&nbsp;т: #[a(href="tel:8(3519)22-00-22") 8 (3519) 22-00-22]
	// end s-prod-head

	
mixin s-prod-head-1511()
	-
		let src= 'img/@2x/1511-1.jpg'
		let title = "Шкаф металлический ШМ_1511"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Шкаф металлический ШМ_1511")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1511-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1511-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1511-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 600х1000х400 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 24 600 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="2") 36] шкафов
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						
						li Полка без&nbsp;регулировки по&nbsp;высоте&nbsp;&mdash; 1&nbsp;шт.
						li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1511
	
mixin s-prod-head-1512()
	-
		let src= 'img/@2x/1511-1.jpg'
		let title = "Шкаф металлический ШМ_1512"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Шкаф металлический ШМ_1512")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1512-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1512-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1512-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 1902х1000х650 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 48 700 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="1") 36] шкафов
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						
						li Полка без&nbsp;регулировки по&nbsp;высоте&nbsp;&mdash; 4&nbsp;шт.
						li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1511
	
mixin s-prod-head-1311()
	-
		let src= 'img/@2x/1311-1.jpg'
		let title = "Тележка ТМ_1311"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Тумба инструментальная ТМ_1311")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1311-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1311-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1311-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 902х604х454 мм.
									tr
										td Цвет:
										td на выбор по системе RAL 
							.mobile-down.order-lg-first  
								table
									tr
										td 12 500 р*
										td Шариковые направляющие 
									tr
										td 15 200 р*
										td Направляющие Blum 
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="5") 36] тумб
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1311
mixin s-prod-head-1411()
	-
		let src= 'img/@2x/1411-1.jpg'
		let title = "Тумба ТМ_1411"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Тумба инструментальная ТМ_1411")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1411-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1411-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1411-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 800х610х480 мм.
									tr
										td Цвет:
										td на выбор по системе RAL 
							.mobile-down.order-lg-first  
								table
									tr
										td 40 880 р*
										td Шариковые направляющие 
									tr
										td 54 380 р*
										td Направляющие Blum 
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="7") 36] тумб
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 5&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						//-li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1411
mixin s-prod-head-1412()
	-
		let src= 'img/@2x/1412-1.jpg'
		let title = "Тумба ТМ_1412"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Тумба инструментальная ТМ_1412")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1412-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1412-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1412-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 800х610х480 мм.
									tr
										td Цвет:
										td на выбор по системе RAL 
							.mobile-down.order-lg-first  
								table
									tr
										td 37 830 р*
										td Шариковые направляющие 
									tr
										td 48 630 р*
										td Направляющие Blum 
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//- +e.sales.d-none.d-lg-block
					//- 	+icon('workbench')
					//- 	span В этом месяце продано <br> #[span.counter(data-start="3") 36] тумб
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						//-li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1412


//- аксессуары 
mixin s-prod-head-1120()
	-
		let src= 'img/@2x/1120-1.jpg'
		let title = "Контейнер А1120"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Контейнер для мелких предметов")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1120-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1120-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1120-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td  60х55х100 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 190 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//-+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано <br> #[span.counter(data-start="3") 36] тумб
					+sidebar
				//-+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						//-li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1120
mixin s-prod-head-1220()
	-
		let src= 'img/@2x/1220-1.jpg'
		let title = "Полка малая А1220 379мм."
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Полка навесная малая")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1220-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1220-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1220-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 90х379х 150 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 335 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//-+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано <br> #[span.counter(data-start="3") 36] тумб
					+sidebar
				//-+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						//-li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1220
mixin s-prod-head-1320()
	-
		let src= 'img/@2x/1320-1.jpg'
		let title = "Полка большая А1320 595мм."
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Полка навесная большая металлическая")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1320-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1320-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1320-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 90х595х150 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 560 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//-+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано <br> #[span.counter(data-start="3") 36] тумб
					+sidebar
				//-+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						//-li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1320
mixin s-prod-head-1420()
	-
		let src= 'img/@2x/1420-1.jpg'
		let title = "Карман для докумнетов А1420"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Карман для документов и других бумаг")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1420-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1420-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1420-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 250(215)х270х45,2 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 730 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//-+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано <br> #[span.counter(data-start="3") 36] тумб
					+sidebar
				//-+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						//-li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1420
mixin s-prod-head-1520()
	-
		let src= 'img/@2x/1520-1.jpg'
		let title = "Держатель отверток и ключей А1520"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Держатель отверток и гаечных ключей")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1520-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1520-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1520-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 50,5х404х75,5 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 680 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//-+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано <br> #[span.counter(data-start="3") 36] тумб
					+sidebar
				//-+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						//-li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1520
mixin s-prod-head-1620()
	-
		let src= 'img/@2x/1620-1.jpg'
		let title = "Держатель плоскогубцев и молотка А1620"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Держатель плоскогубцев и молотка")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1620-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1620-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1620-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 50,5х404х105 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 735 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//-+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано <br> #[span.counter(data-start="3") 36] тумб
					+sidebar
				//-+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						//-li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1620
mixin s-prod-head-1720()
	-
		let src= 'img/@2x/1720-1.jpg'
		let title = "Держатель полотенец А1720"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Держатель полотенец")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1720-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1720-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1720-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 30х325х120 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 460 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//-+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано <br> #[span.counter(data-start="3") 36] тумб
					+sidebar
				//-+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						//-li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1720
mixin s-prod-head-1820()
	-
		let src= 'img/@2x/1820-1.jpg'
		let title = "Держатель свёрел А1820"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Держатель свёрел")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1820-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1820-1.jpg')
									//-+e.slide--lg
										a(href='img/@2x/1211-1x.jpg' data-fancybox="prod-gal")
											+img('img/@2x/1211-1.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1820-1.jpg')
								//-+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ВхШхГ): 
										td 50,5х404х105 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 1 840 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					//-+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано <br> #[span.counter(data-start="3") 36] тумб
					+sidebar
				//-+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 4&nbsp;шт.
						li Колеса для&nbsp;удобства транспортировки&nbsp;&mdash; 4&nbsp;шт.
						//-li Экран для&nbsp;размещения инструмента&nbsp;&mdash; 2&nbsp;шт.
						//-li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1820
