mixin sidebar()
	+b.s-prod-head-sidebar
		//- +e.price 
		ul
			li
				+icon('check-mark')
				
				span Доставка по Москве:
				| сегодня-завтра
			
			li
				+icon('check-mark')
				
				span Доставка по России
				| от 2 до 5 дней
			
			li
				+icon('check-mark')
				
				span Гарантия
				| 12 месяцев
			
			li
				+icon('check-mark')
				
				span Изготовление на заказ:
				| по вашим размерам <br>от 3 до 5 дней
mixin s-prod-head()
	-
		let src= 'img/@2x/prod-1.jpg'
		let title = "Верстак слесарный ВМ_1214"
	mixin img()
		img.res-i(src="#" data-lazy= src, alt="")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
								- for (var x = 0; x < 5; x++)
									+e.slide--lg
										a(href= src data-fancybox="prod-gal")
											+img()
						+e.slider--sm.--sm-js
							- for (var x = 0; x < 5; x++)
								+e.slide
									+e.img-wrap
										+img()
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ШхВхГ): 
										td 1637.6х1383х620 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 41 700 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано <br> #[span.counter(data-start="5") 36] верстаков
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 1&nbsp;шт.
						li Полка с&nbsp;регулировкой по&nbsp;высоте в&nbsp;трех положениях&nbsp;&mdash; 1&nbsp;шт.
						li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 1&nbsp;шт.
						li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head

mixin s-prod-head-1211()
	-
		let src= 'img/@2x/1211-1.jpg'
		let title = "Верстак слесарный ВМ_1211"
	mixin img(i)
		img.res-i(src="#" data-lazy= i, alt="Верстак слесарный ВМ_1211")
	// start s-prod-head
	+b.s-prod-head&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-4.col-md-6
					+b.s-prod-head-images
						+e.inner
							+e.slider--lg.--lg-js
									//- Fancybox 
									+e.slide--lg
										a(href='img/@2x/1211-1.jpg' data-fancybox="prod-gal")
											+img('img/@2x/prod-2.jpg')
									+e.slide--lg
										a(href='img/@2x/1211-1.jpg' data-fancybox="prod-gal")
											+img('img/@2x/prod-2.jpg')
						+e.slider--sm.--sm-js
								//- Листалка 
								+e.slide
									+e.img-wrap
										+img('img/@2x/1211-1.jpg')
								+e.slide
									+e.img-wrap
										+img('img/@2x/prod-2.jpg')
				.col-lg-4.col-md-6
					+e.content
						.h1.d-none.d-lg-block= title
						+e.descr 
							.mobile-up
								table
									tr
										td Размеры  (ШхВхГ): 
										td 1637.6х1383х620 мм.
									tr
										td Цвет:
										td на выбор по системе RAL
							.mobile-down.order-lg-first 11 100 руб.
						+e.form-wrap
							+btn-accent('купить в 1 клик', '#modal-one-click')(class="link-modal" data-order=`Быстрый заказ- ${title}`)
							+e.btn.btn-outline-brown.link-modal(    href="#modal-by" data-order=`Заказ- ${title}`) заказать
				.col-lg-4.col-sm-6.shiping-time.md-order-last
					+e.sales.d-none.d-lg-block
						+icon('workbench')
						span В этом месяце продано <br> #[span.counter(data-start="6") 36] верстаков
					+sidebar
				+e.equipment.col-lg-8.col-sm-6.md-order-penultimate
					h3 Комплектация
					ul
						li Выдвижной ящик с&nbsp;установкой на&nbsp;направляющие плавного скольжения&nbsp;&mdash; 1&nbsp;шт.
						li Полка с&nbsp;регулировкой по&nbsp;высоте в&nbsp;трех положениях&nbsp;&mdash; 1&nbsp;шт.
						li Дверь с&nbsp;петлями плавного закрывания&nbsp;&mdash; 1&nbsp;шт.
						li Дополнительная полка в&nbsp;ногах у&nbsp;сидящего&nbsp;&mdash; 1&nbsp;шт.
	// end s-prod-head-1211




mixin s-prod-head-13()
	-
		let src= 'img/@2x/prod-1.jpg'
		let title = "Стойка вертикальная/ кронштейн"
	mixin img()
		img.res-i(src="#" data-lazy= src, alt="")
	// start s-prod-head
	+b.s-prod-head.s-prod-racks&attributes(attributes)
		.container
			+b.section-title.text-center.d-lg-none
				h1= title
			.row
				.col-lg-8
					.row
						.col-md-6
							+b.s-prod-head-images
								+e.inner
									+e.slider--lg.--lg-js
										- for (var x = 0; x < 5; x++)
											+e.slide--lg
												a(href= src data-fancybox="prod-gal")
													+img()
								+e.slider--sm.--sm-js
									- for (var x = 0; x < 5; x++)
										+e.slide
											+e.img-wrap
												+img()
						.col-md-6
							+e.content
								.h1.d-none.d-lg-block= title
								+e.descr 
									.mobile-up
										table
											tr
												td Размеры <br>(ШхВхГ):
												td 2480х130х50 мм. / <br>511.56 мм.
											tr
												td Цвет:
												td на выбор по системе RAL
									.mobile-down.order-lg-first #[span.stoika-price 5 075] руб. / #[span.kronshtain-price 870] руб.
									+e.equipment
										h3 Комплектация
										ul
											li Стойка вертикальная — 1 шт.
											li Кронштейн металлический — 1 шт.


					+b.s-prod-head-calculate.form-calc
						h3 Рассчитайте стоимость&nbsp;стеллажа
						+b.form-wrap
							.row
								.col-md-6
									+e.input-wrap
										label
											+e.SPAN.title Сколько нужно вертикальных стоек?
											+e.SELECT.input(id="vertical")
												option(value="1") 1шт.
												option(value="2") 2шт.
												option(value="3") 3шт.
												option(value="4") 4шт.
												option(value="5") 5шт.
												option(value="6") 6шт.
												option(value="7") 7шт.
												option(value="8") 8шт.
												option(value="9") 9шт.
												option(value="10"  ) 10шт.
												option(value="11"  ) 11шт.
												option(value="12"  ) 12шт.
												option(value="13"  ) 13шт.
												option(value="14"  ) 14шт.
												option(value="15"  ) 15шт.
												option(value="16"  ) 16шт.
												option(value="17"  ) 17шт.
												option(value="18"  ) 18шт.
												option(value="19"  ) 19шт.
												option(value="20"  ) 20шт. 
												 
								.col-md-6
								
									+e.input-wrap
										label
											+e.SPAN.title Сколько нужно кронштейнов?
											+e.SELECT.input(id="horizontal")
												option(value="2" ) 2шт.
												option(value="4" ) 4шт.
												option(value="6" ) 6шт.
												option(value="8" ) 8шт.
												option(value="10" ) 10шт. 
												option(value="12" ) 12шт.
												option(value="14" ) 14шт.
												option(value="16" ) 16шт.
												option(value="18" ) 18шт.
												option(value="20" ) 20шт.
												option(value="22" ) 22шт.
												option(value="24" ) 24шт.
												option(value="26" ) 26шт.
												option(value="28" ) 28шт.
												option(value="30" ) 30шт.
												option(value="32" ) 32шт. 
												option(value="34" ) 34шт. 
												option(value="36" ) 36шт. 
												option(value="38" ) 38шт. 
												option(value="40" ) 40шт. 
												option(value="42" ) 42шт. 
												option(value="44" ) 44шт. 
												option(value="46" ) 46шт. 
												option(value="48" ) 48шт. 
												option(value="50" ) 50шт. 
												option(value="52" ) 52шт. 
												option(value="54" ) 54шт. 
												option(value="56" ) 56шт. 
												option(value="58" ) 58шт. 
												option(value="60" ) 60шт. 
												option(value="62" ) 62шт. 
												option(value="64" ) 64шт. 
												option(value="66" ) 66шт. 
												option(value="68" ) 68шт. 
												option(value="70" ) 70шт. 
												option(value="72" ) 72шт. 
												option(value="74" ) 74шт. 
												option(value="76" ) 76шт. 
												option(value="78" ) 78шт. 
												option(value="80" ) 80шт. 
												option(value="82" ) 82шт. 
												option(value="84" ) 84шт. 
												option(value="86" ) 86шт. 
												option(value="88" ) 88шт. 
												option(value="90" ) 90шт. 
												option(value="92" ) 92шт. 
												option(value="94" ) 94шт. 
												option(value="96" ) 96шт. 
												option(value="98" ) 98шт. 
												option(value="100") 100шт.  
								+e.cost.col-md-6.align-self-center
									h3 Стоимость: 
										span #[strong#result 0] рублей
								.col-md-6
									+btn-accent('заказать', '#modal-by')(class="link-modal btn-calc" data-order=`Заказ стеллажа ${title}`) 

				.col-lg-4.shiping-time
					+e.sales.d-none.d-lg-block
						+icon('rack')
						span В этом месяце продано<br> #[span.counter(data-start="5") 6] стеллажей
					+sidebar()
						//- +e.btn(type="button")
						//- 	+icon('cart')
						//- 	| В корзину
					//- +e.footer-text *При оформлении заказа  уточняйте&nbsp;цену по&nbsp;т: #[a(href="tel:8(3519)22-00-22") 8 (3519) 22-00-22]
	// end s-prod-head
