

//- svg-sprite
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)
//-/ svg-sprite



//- breadcrumb
mixin breadcrumb(...items)
	nav(aria-label="breadcrumb" )
		ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
			-for (var i = 0; i < items.length; i++)
				li.breadcrumb-item( class=(i == items.length - 1 ? "active" : '')   itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href=(i == 0 ? "/" : '#') itemprop="item" )
						span( itemprop="name")= items[i]
						meta(itemprop="position" content= (i + 1) )

mixin page-head(...items)
	+b.page-head
		.container
			+breadcrumb(...items)
			block
 
//- pugination
mixin pugin()
 
	.pagination-wrapper
		ul.page-numbers
			mixin li(n)
				li
					if n
						a.page-numbers(href='#')&attributes(attributes)= n 
					else
						block
			+li("1  ")(class="current")
			+li("2 ") 
			+li(" 3 ") 
			+li("  4  ") 
			+li("  4 ") 
			+li("  5  ") 
			+li(" ... ") 
			+li("  10 ") 
			+li("  Показать все")(class="h6 mb-0")
//- +pugin()
//- /pugination
//- h2.yel(class="  wow fadeInUp animated " data-wow-offset="120" data-wow-duration="1.2s")  
//- arrow for swiper-slider
mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider
		
 

//- scial buttons
mixin soc()
	+b.soc
		mixin item()
			+e.A.item(href="№" target="_blank")
				block
		+item()
			+icon('fb')
		
		+item()
			+icon('insta')
		
		+item()
			+icon('vk')
//- /scial buttons
//- WP menu
mixin mnu()
	-
		var nav= { 
			"Наши работы":"#",
			"Цены":"#",
			"Калькулятор":"#",
			"Акции":"#" ,
			"Заказать":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item.menu-item-has-children
			a(href="#" itemprop="url") О нас
			ul.sub-menu
				-
					var subnav= { 
						"Строительство загородных домов":"#",
						"Отделка загородных домов":"#",
						"Покраска деревянных домов":"#",
						"Штукатурные фасады загородных домов":"#" ,
						}
				each sublinkPatch, sublinkName in nav
					li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu
mixin mnu()
	-
		var nav= {
			"Главная":"/",
			"Услуги  ":"#",
			"Подбор септика   ":"#",
			"Акции ":"#"," О компании  ":"#",
			" Доставка и оплата ":"#",
			" Клиентам  ":"#",
			" Наши работы   ":"#",
			"Контакты ":"#"
			}
	+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu




mixin pic(i, bg, lazy="lazy", media)
	-
		const smpath2 = "2x"
		const smpath1 = "1x"
		let expArr = i.split(".")
		let exp = (expArr[1] || 'jpg')
	mixin src(i, exp, path , lazy, source, bg)
		-
			const url= `img/@${path}/${expArr[0]}.${exp}`
			const ifLazy = (lazy== "lazy")
			const src = ( ifLazy ? "#" : url)
			const data = (ifLazy ?  url  : null)

		if source
			source( srcset=src data-srcset= data  type=`image/${exp}`   )&attributes(attributes)
		else
			img(src=src data-src=data, class=(bg=="bg" ? "object-fit-js": null ) alt="")&attributes(attributes)
	
	// picture
	picture( class= lazy)&attributes(attributes) 
		if media
			each val in [exp] 
				each val2 in [smpath2,smpath1] 
					+src(i,val,`${val2 + (val ==  "webp" ? "/webp" : "") }`,lazy,"source")(media=(val2 == smpath2 ? "(min-width:"+ media+")" : null))
		else 
			//- +src(i,'webp',smpath2+`/webp`,lazy,"source")
			// /webp images  
		+src(i, exp,smpath2, lazy,"",bg) 
	// /picture

mixin pic2({i, bg, lazy="lazy", media='576px'})
	-
		const smpath2 = "2x"
		const smpath1 = "1x"
		let expArr = i.split(".")
		let exp = (expArr[1] || 'jpg')
	mixin src(i, exp, path , lazy, source, bg)
		-
			const url= `img/@${path}/${expArr[0]}.${exp}`
			const ifLazy = (lazy== "lazy")
			const src = ( ifLazy ? "#" : url)
			const data = (ifLazy ?  url  : null)

		if source
			source( srcset=src data-srcset= data  type=`image/${exp}`   )&attributes(attributes)
		else
			img(src=src data-src=data, class=(bg=="bg" ? "object-fit-js": null ) alt="")&attributes(attributes)
	
	// picture
	picture( class= lazy)&attributes(attributes) 
		if media 
			each val in ["webp",exp] 
				each val2 in [smpath2,smpath1] 
					+src(i,val,`${val2 + (val ==  "webp" ? "/webp" : "") }`,lazy,"source")(media=(val2 == smpath2 ? "(min-width:"+ media+")" : null))
		else 
			+src(i,'webp',smpath2+`/webp`,lazy,"source")
			// /webp images  
		+src(i, exp,smpath2, lazy,"",bg) 
	// /picture

//- mixin img( i, bg, lazy="lazy", media='576px')
//- 	-
//- 		const smpath2 = "2x"
//- 		const smpath1 = "1x"
//- 		let expArr = i.split(".")
//- 		let exp = (expArr[1] || 'jpg')  
//- 		const url1= `img/@${smpath1}/${expArr[0]}.${exp}`
//- 		const url2= `img/@${smpath2}/${expArr[0]}.${exp}`
//- 		const ifLazy = (lazy== "lazy")
//- 		const src = ( ifLazy ? "#" : url2)
//- 		const data2 = (ifLazy ?  url2  : null)
//- 		const data1 = (ifLazy ?  url1  : null)
//- 	img(
//- 		class= (lazy +' res-i ' + (bg=="bg" ? "object-fit-js": '') )  
//- 		src=src  
//- 		data-src=(data1)   
//- 		sizes="(max-width: 576px) 0, 100%"
//- 		data-srcset=(media != 0 ? (data1 + " " + '0, '+ data2 + " 100% " ) : null))&attributes(attributes)
		//- "img/@1x/real.jpg 1x, img/@2x/real.jpg 2x"
	//- if media !== 0  
	//- 	each val2 in [smpath2,smpath1] 
	//- 	+src(i,exp,val2,lazy)(data-srcset=(val2 == smpath2 ? "(min-width:"+ media+")" : null))
	//- else 
	//- 	+src(i,'webp',smpath2+`/webp`,lazy) 

 
	
//- /picture with lazy


	//- example
	//- or
	//- +piclazy('consult','png')
//- +pic('','head-img-4',"")


 
		 
//- /picture
	example
	+piclazy('consult','png','bg')
	or
	+piclazy('consult','png')


mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin logo()
	+b.logo&attributes(attributes)
		a(href="#")
			div
				img(src="img/@2x/logo.png", alt="")
			+e.DIV.text
				+e.DIV.title Комплексные системы
				| Продажа сейфов   и&nbsp;металлических&nbsp;стеллажей  с&nbsp;доставкой по&nbsp;Магнитогорску
mixin search()
	+b.form-search.d-lg-block
		form
			input(type="text" placeholder="Поиск по названию или назначению")
			+e.BUTTON.btn(type="button")
				+icon("search")

mixin contact-block()
	+b.contact-block
		.d-lg-block.d-none
			+e.tel(href="tel:+7(3519)22-00-00") +7 (3519) 22-00-00
		
		+e.link.link-modal(href="#modal-call") Заказать звонок
		+b.messanger-block
			+e.item--viber(href="#")
				+icon("viber")
			
			+e.item--whatsapp(href="#")
				+icon("whatsapp")
			
			+e.item--tel.d-lg-none(href="tel:+7(3519)22-00-00")
				+icon("tel")
			
			+e.item--search.d-lg-none(type="button")
				+icon("search")
