

//- svg-sprite
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)
//-/ svg-sprite



//- breadcrumb
mixin breadcrumb(...items)
	nav(aria-label="breadcrumb" )
		ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
			-for (var i = 0; i < items.length; i++)
				li.breadcrumb-item( class=(i == items.length - 1 ? "active" : '')   itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
					a(href=(i == 0 ? "/" : '#') itemprop="item" )
						span( itemprop="name")= items[i]
						meta(itemprop="position" content= (i + 1) )

mixin page-head(...items)
	+b.page-head
		.container
			+breadcrumb(...items)
			block
 
//- pugination
mixin pugin()
 
	.pagination-wrapper
		ul.page-numbers
			mixin li(n)
				li
					if n
						a.page-numbers(href='#')&attributes(attributes)= n 
					else
						block
			+li("1  ")(class="current")
			+li("2 ") 
			+li(" 3 ") 
			+li("  4  ") 
			+li("  4 ") 
			+li("  5  ") 
			+li(" ... ") 
			+li("  10 ") 
			+li("  Показать все")(class="h6 mb-0")
//- +pugin()
//- /pugination
//- h2.yel(class="  wow fadeInUp animated " data-wow-offset="120" data-wow-duration="1.2s")  
//- arrow for swiper-slider
mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider
		
 

//- scial buttons
mixin soc()
	+b.soc-text Следите за&nbsp;нашими новостями в&nbsp;соцсетях:
	+b.soc 
		+e.A.item--vk(href="#" target="_blank")
			+icon('vk')
		
		+e.A.item--instagram(href="#" target="_blank")
			+icon('instagram') 
//- /scial buttons
//- WP menu
mixin mnu()
	-
		var nav= { 
			"Наши работы":"#",
			"Цены":"#",
			"Калькулятор":"#",
			"Акции":"#" ,
			"Заказать":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item.menu-item-has-children
			a(href="#" itemprop="url") О нас
			ul.sub-menu
				-
					var subnav= { 
						"Строительство загородных домов":"#",
						"Отделка загородных домов":"#",
						"Покраска деревянных домов":"#",
						"Штукатурные фасады загородных домов":"#" ,
						}
				each sublinkPatch, sublinkName in nav
					li.menu-item(itemprop="item" ): a(href= sublinkPatch itemprop="url")= sublinkName
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu
mixin mnu()
	-
		var nav= {
			"Главная":"/",
			"Услуги  ":"#",
			"Подбор септика   ":"#",
			"Акции ":"#"," О компании  ":"#",
			" Доставка и оплата ":"#",
			" Клиентам  ":"#",
			" Наши работы   ":"#",
			"Контакты ":"#"
			}
	+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu




mixin pic(i, bg, lazy="lazy", media)
	-
		const smpath2 = "2x"
		const smpath1 = "1x"
		let expArr = i.split(".")
		let exp = (expArr[1] || 'jpg')
	mixin src(i, exp, path , lazy, source, bg)
		-
			const url= `img/@${path}/${expArr[0]}.${exp}`
			const ifLazy = (lazy== "lazy")
			const src = ( ifLazy ? "#" : url)
			const data = (ifLazy ?  url  : null)

		if source
			source( srcset=src data-srcset= data  type=`image/${exp}`   )&attributes(attributes)
		else
			img(src=src data-src=data, class=(bg=="bg" ? "object-fit-js": null ) alt="")&attributes(attributes)
	
	// picture
	picture( class= lazy)&attributes(attributes) 
		if media
			each val in [exp] 
				each val2 in [smpath2,smpath1] 
					+src(i,val,`${val2 + (val ==  "webp" ? "/webp" : "") }`,lazy,"source")(media=(val2 == smpath2 ? "(min-width:"+ media+")" : null))
		else 
			//- +src(i,'webp',smpath2+`/webp`,lazy,"source")
			// /webp images  
		+src(i, exp,smpath2, lazy,"",bg) 
	// /picture

mixin pic2(i, bg, lazy="lazy", media='576px')
	-
		const smpath2 = "2x"
		const smpath1 = "1x"
		let expArr = i.split(".")
		let exp = (expArr[1] || 'jpg')
	mixin src(i, exp, path , lazy, source, bg)
		-
			const url= `img/@${path}/${expArr[0]}.${exp}`
			const ifLazy = (lazy== "lazy")
			const src = ( ifLazy ? "#" : url)
			const data = (ifLazy ?  url  : null)

		if source
			source( srcset=src data-srcset= data  type=`image/${exp}`   )&attributes(attributes)
		else
			img(src=src data-src=data, class=(bg=="bg" ? "object-fit-js": null ) alt="")&attributes(attributes)
	
	// picture
	picture( class= lazy)&attributes(attributes) 
		if media
			each val in [exp] 
				each val2 in [smpath2,smpath1] 
					+src(i,val,`${val2 + (val ==  "webp" ? "/webp" : "") }`,lazy,"source")(media=(val2 == smpath2 ? "(min-width:"+ media+")" : null))
		else 
			//- +src(i,'webp',smpath2+`/webp`,lazy,"source")
			// /webp images  
		+src(i, exp,smpath2, lazy,"",bg) 
	// /picture
 
mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin logo()
	div&attributes(attributes)
		+b.logo
			a(href="/")
				div
					img(src="img/@2x/logo.png", alt="")
				+e.DIV.text Производство и&nbsp;продажа металлической мебели&nbsp;с доставкой по&nbsp;всей России
mixin search()
	+b.form-search.d-lg-block
		form
			input(type="text" placeholder="Поиск по названию или назначению")
			+e.BUTTON.btn(type="button")
				+icon("search")

mixin contact-block()
	+b.contact-block.col-auto
		
		.row
			
			.col-auto.d-none.d-md-block
				+e.tel(href="tel:8(495)266-60-73") 8 (495) #[strong 266-60-73]
				br
				+e.tel(href="tel:8(495)266-60-73") 8 (495) #[strong 266-60-73]
			.col-auto.d-sm-block.d-none
				.d-none.d-md-block
					+e.item--whatsapp(href="#")
						img(src="img/svg/whatsapp2.svg", alt="")

				.d-none.d-sm-block
					+e.link.link-modal(href="#modal-call") Заказать звонок 
			.col-auto.d-md-none
				+e.item--tel(href="tel:8(495)266-60-73")
					+icon("call")
mixin contact-block-footer()
	+b.contact-block.col- 
		.row.no-gutters 
			.col-auto 
				+e.item--whatsapp(href="#")
					img(src="img/svg/whatsapp2.svg", alt="")
			.col-auto
				+e.tel(href="tel:8(495)266-60-73") 8 (495) #[strong 266-60-73]
				br
				+e.tel(href="tel:8(495)266-60-73") 8 (495) #[strong 266-60-73]
				br 
				+e.link.link-modal(href="#modal-call") Заказать звонок 


mixin btn-accent( t,a="#")
	+e.btn.btn-blue(href= a)&attributes(attributes)
			span.btn-color 
			span.btn-text= t

			
mixin button( t)
	+e.btn.btn.btn-blue(type="submit") 
			span.btn-color 
			span.btn-text= t

mixin girl()
	+b.worker
		+pic2("girl")
		+e.label.h6 Валерия Устинова,
			br
			| инженер-конструктор 